<% @header="About Us" %>
<section class="md_section">
  <div class="container-fluid">
    <div class="row">
      <div class="text-center" id="about_page">
        <p>Ever wondered what events were available at UNM to participate in?</p>
        <p>Well, you've come to the right place!</p><br><br>
        <p>All the new and exciting events are available on our website with all the information you need about them.</p>
      </div>
    </div>
  </div>
</section>
