<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Cover image"/>
        <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/1/" alt="Profile image"/>
        <div class="fb-profile-text">
            <h1><%= current_user.username %></h1>
            <p></p>
        </div>
    </div>
</div>
<div class="lg_header">
	<h2>Sorry <%= current_user.username %> but this page is currently under construction!</h2>
</div>
