<section class="main-body events show">
<% @header= @event.name %>
  <%= link_to("Back to list", { :action => 'index' }, :class => 'back-link btn btn-default') %><hr>
  <div class="event detail view">
  </div>
</section>
