<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
					<p class="copyright">Copyright &copy; 2015 - Edwin Agbenyega</p>
			</div>
		</div>
	</div>
	</div>
